#back {
    color: $back-text-secondary;
    background: $back-body-background-color;

    a {
        color: $back-text-secondary;
        text-decoration: none;

        &:visited,
        &:hover {
            text-decoration: underline;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        a{
            color: $back-text-light;
        }
        @include footer-layout($back-text-light, 0.45);
    }

    .el-breadcrumb__item{
        .el-breadcrumb__inner,
        .is-link{
            color: $back-text-secondary;
        }
    }
}