$--color-primary: $front-text-primary;
$--color-text-regular: $front-text-primary;
$--color-text-primary: $front-text-primary;

$--link-color: $front-text-primary;

$--select-dropdown-background: $back-table-body-background;

$--collapse-header-fill: $front-transparent-background;
$--collapse-content-fill: $front-transparent-background;
$--collapse-border-color: $front-transparent-border;

$--card-border-color: $front-transparent-border;
$--card-border-radius: 5%;

$--select-dropdown-background: $select-dropdown-background;
$--select-option-hover-background: $select-options-hover-background;
$--select-option-color: $back-text-light;
$--select-option-selected: $select-option-selected-color;

$--input-fill: $front-transparent-background;

$--pagination-fill: $front-transparent-background;
$--pagination-border-radius: 10%;
$--pagination-hover-fill: $front-item-hover-fill;
$--pagination-button-disabled-fill: $front-transparent-background;

$--table-border-color: $front-transparent-border;
$--table-row-hover-background: $front-item-hover-fill;

$--checkbox-checked-icon-color: $back-text-secondary;
$--checkbox-checked-text-color: $back-tab-item-background;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";