#front{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px 0 10px 0;
    background: $front-body-background-color;
    color: $front-text-primary;

    a{
        text-decoration: none;
        color: $front-text-primary;
        &:hover {
            text-decoration: underline;
        }
    }

    .el-card{
        @include transparent-background(0.25);
    }

    .el-table {
        @include transparent-background(0.2);
        @include transparent-border(0,0,5%);

        thead tr,
        th{
            @include transparent-background(0.2);
        }

        .el-table__row{
            @include transparent-background(0.2);
        }
    }

    .el-collapse-item [role='tab']{
        @include transparent-item-hover($front-item-hover-fill);
    }

    .el-pagination{
        text-align: right;
    }

    .el-button{
        position: relative;
        margin-top: 5%;
        @include transparent-background(0.35);
        @include transparent-item-hover($front-item-hover-fill);
        &:focus{
            @include transparent-background(0);
        }
    }

    footer{
        @include footer-layout($front-text-primary, 0.45);
    }

    .el-form{
        .el-input.name{
            width: 130px;
        }

        .editor{
            @include transparent-background(0.25);
        }
    }

}