.front{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px 0 10px 0;
    background: $front-body-background-color;
    color: $front-text-primary;

    a{
        color: $front-text-primary;
    }

    .front-content{
        .el-card{
            @include transparent-border(0.9,1px,20px);
            @include transparent-background(0.25);
        }

        .el-table {
            @include transparent-background(0.2);
            @include transparent-border(0,0,20px);

            thead tr,
            th{
                @include transparent-background(0.2);
            }

            .el-table__row{
                @include transparent-background(0.2);
            }
        }

        .el-collapse-item [role='tab']{
            @include transparent-item-hover($front-item-hover-fill);
        }

        .el-pagination{
            text-align: right;
        }

        .el-button{
            position: relative;
            margin-top: 5%;
            @include transparent-background(0.35);
            @include transparent-item-hover($front-item-hover-fill);
            &:focus{
                @include transparent-background(0);
            }
        }

        .ql-snow .ql-tooltip{
            @include transparent-background(0.25);
        }

        .el-form{
            .el-input.name{
                width: 130px;
            }

            .editor{
                @include transparent-background(0.25);
            }
        }
    }

    footer{
        @include footer-layout($front-text-primary, 0.45);
    }


}