@mixin transparent-item-hover() {
    &:hover{
        background: rgba(29, 114, 201, 0.35);
    }
}

@mixin transparent-border($opacity,$size,$radius) {
    border: rgba(0,0,0,$opacity) $size solid;
    border-radius: $radius;
}

@mixin transparent-background($opacity) {
    background: rgba(0,0,0,$opacity);
}

@mixin content-el-card-margin () {
    margin: 3%;
}

@mixin button-position ($position) {
    left: $position;
}


html,body {
    margin: 0 0 0 0;
    padding: 0;
}


#front{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 5px;
    background: #111111;
    font-family: Tahoma, Arial, Helvetica, sans-serif,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

    a{
        text-decoration: none;
        color: #fdfdfd;
        &:hover {
            text-decoration: underline;
        }
    }

    pre{
        @include transparent-background(0.5);
        @include transparent-border(0.9,1px,5%);
        color: green;
        padding: 2em;
    }

    .el-card{
        @include transparent-background(0.25);
    }

    .el-table {
        @include transparent-background(0.2);
        @include transparent-border(0,0,5%)
    }

    .el-collapse-item [role='tab']{
        @include transparent-item-hover;
    }

    .el-pagination{
        text-align: right;
    }

    .el-button{
        position: relative;
        margin-top: 5%;
        @include transparent-background(0.35);
        @include transparent-item-hover();
        &:focus{
            @include transparent-background(0);
        }
    }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }

}