@mixin opacity-item-hover () {
    &:hover{
        background: rgba(11,133,204,0.35);
    }
}

@mixin opacity-border ($opacity,$size,$radius) {
    border: rgba(0,0,0,$opacity) $size solid;
    border-radius: $radius;
}

@mixin opacity-background ($opacity) {
    background: rgba(0,0,0,$opacity);
}

body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    background: #111111;
    font-family: Tahoma, Arial, Helvetica, sans-serif,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

    a{
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .el-card{
        @include opacity-background(0.25);
    }



    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
}