html,body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

    a{
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    blockquote{
        @include transparent-background(0.7);
        @include transparent-border(0.9,1px,10px);
        color: white;
        padding: 2em;
    }

    pre{
        @include transparent-background(0.9);
        @include transparent-border(0.9,1px,20px);
        color: $common-pre-color;
        padding: 2em;
    }

    .el-table-filter{
        @include transparent-background(0.5);
    }

    .ql-tooltip,
    .ql-editing{
        left: 5em !important;
    }

    .custom-aside-bar{
        a:hover{
            text-decoration: none;
        }
    }

    .el-loading-mask{
        @include transparent-border(0,0,20px);
    }

    .el-message-box{
        *{
            color: $back-text-secondary;
        }
    }

    .el-notification{
        *{
            color: $back-text-secondary;
        }
    }

    .icon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
    }
}